<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITripadvisorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51248/TripadvisorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITripadvisorService"
                contract="ITripadvisorService" name="BasicHttpBinding_ITripadvisorService" />
        </client>
    </system.serviceModel>
</configuration>